@font-face {
  font-family: 'sage';
  src: url('/src/assets/sage-webfont.woff2') format('woff2'),
       url('/src/assets/sage-webfont.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'andes';
  src: url('/src/assets/andes-webfont.woff2') format('woff2'),
       url('/src/assets/andes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fly-in {
  from {
    transform: translateX(-200vw)
  }
  to {
    transform: translateX(0)
  }
}

:root {
  font-size: 16px;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: aliceblue;

  animation-name: fly-in;
  animation-iteration-count: 1;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.gameboard {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  overflow: scroll;
  width: 100%;
}

@media (min-width: 1500px) {
  .gameboard {
    justify-content: center;
  }
}